openapi: 3.1.0
info:
  title: code402 paid tools API
  version: "1.1"
  description: >
    Machine-payable deterministic tools. POST without payment credentials returns
    402 with price, chain, recipient and EIP-712 domain. Retry with the signed
    EIP-3009 authorization to receive the output plus a signed XDR-1 receipt.
servers:
  - url: https://code402.dev
paths:
  /v1/tools/{tool}/call:
    post:
      summary: Call a paid tool (x402 v1 wire; X-PAYMENT voucher)
      parameters: [{name: tool, in: path, required: true, schema: {type: string}}]
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [input]
              properties:
                input: {type: object}
                idempotency_key: {type: string}
      responses:
        "200": {description: output + signed receipt}
        "402": {description: payment challenge (price, network, recipient, EIP-712 domain, nonce)}
        "400": {description: invalid input or payment}
        "409": {description: replayed nonce}
  /v2/tools/{tool}/call:
    post:
      summary: x402 v2 wire (PAYMENT-REQUIRED / PAYMENT-SIGNATURE / PAYMENT-RESPONSE headers)
      parameters: [{name: tool, in: path, required: true, schema: {type: string}}]
      responses:
        "200": {description: output + receipt + PAYMENT-RESPONSE}
        "402": {description: challenge in PAYMENT-REQUIRED header (Base64 JSON)}
        "404": {description: v2 not enabled on this environment}
  /v1/ops/stats:
    get:
      summary: live operational telemetry (reconciler, breaker, counters)
      responses: {"200": {description: public-safe JSON stats}}
  /v1/trust/{domain}:
    get:
      summary: trust record for a machine-payable domain
      parameters: [{name: domain, in: path, required: true, schema: {type: string}}]
      responses: {"200": {description: trust record}, "404": {description: no record}}
components:
  securitySchemes:
    x402: {type: apiKey, in: header, name: X-PAYMENT}
